<h1>
  Table of Movies:
</h1><br/><br/>
<table border ="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Rating</th>
      <th>Genre</th>
      <th>Studio</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie_info| %>
      <tr>
        <td><a href="/movies/<%="#{movie_info["id"]}"%>"><%="#{movie_info["title"]}"%></a></td>
        <td><%="#{movie_info["year"]}"%></a></td>
        <td><%="#{movie_info["rating"]}"%></a></td>
        <td><%="#{movie_info["genre"]}"%></a></td>
        <td><%="#{movie_info["studio"]}"%></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>
<a href="/">Back</a>
