<h1>
  <%= @movie[0]["title"] %>
</h1>
<br/>
<table border="1" style="width:600px">
  <thead>
    <tr>
      <th>Year</th>
      <th>Rating</th>
      <th>Genre</th>
      <th>Studio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%="#{@movie[0]["year"]}"%></td>
      <td><%="#{@movie[0]["rating"]}"%></td>
      <td><%="#{@movie[0]["genre"]}"%></td>
      <td><%="#{@movie[0]["studio"]}"%></td>
    </tr>
  </tbody>
</table>
<table border="1" style="width:300px">
  <thead>
    <tr>
      <td>Actor</td>
      <td>Character</td>
    </tr>
  </thead>
  <tbody>
    <% @cast.each do |member| %>
      <tr>
        <td><a href="<%="/actors/#{member["actorid"]}"%>"><%= member["actor_name"] %></a></td>
        <td><%= member["character"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>
<a href="/">Back</a>
